--light-mode-background-surface-default: #fcf9f6;
--dark-mode-background-surface-default: #1c2034;
--light-mode-background-subtle-default: #f1ebe4;
--light-mode-texts-subtle-idle: #363c5d;
--dark-mode-texts-primary-default: #d4dbff;
--dark-mode-border-default: #41455d;
--light-mode-border-default: #d7d5d7;
--light-mode-background-subtle-hover: #ddd4cb;
--light-mode-texts-primary-default: #543f09;
--light-mode-background-primary-default: #ffcd4e;
--light-mode-background-primary-hover: #fbdc8e;
--dark-mode-background-primary-default: #363c5d;
--dark-mode-background-primary-hover: #202647;
--light-mode-background-dark-hue-hover: #e7e8ee;
--dark-mode-texts-light-hue-default: #837f75;
--dark-mode-background-primary-pressed: #090d22;
--light-mode-background-white-primary: #ffffff;
--light-mode-background-white-hover: #f1ebe4;
