--gap-small: 2px;
--gap-large: 8px;
--gap-medium: 4px;
--padding-large: 16px;
--padding-medium: 8px;
--padding-extra-small: 2px;
--margin-large: 80px;
--margin-medium: 40px;
--margin-small: 20px;
--border-radius-large: 12px;
--border-radius-medium: 8px;
--border-radius-small: 4px;
--padding-small: 4px;
